body{
    background: rgb(255,156,75);
    background: radial-gradient(circle, rgba(255,156,75,1) 0%, rgba(70,129,252,0.6898109585631127) 100%);
}

.navbar-brand{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    cursor: pointer;
}