{% extends 'base.html' %}
{% load static %}
{% block title %}
My first website builder
{% endblock title %}
{% block css_link %}
<link rel="stylesheet" href="{% static 'style/index.css' %}">
{% endblock css_link %}

{% block body %}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{baseUrl}}360x200/?{{lastIndex.category}}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{baseUrl}}380x200/?{{lastIndex.category}}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{baseUrl}}400x220/?{{lastIndex.category}}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container-fluid">
{% lorem 10 p %} 
</div>
{% endblock body %}

